body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/fondo.jpeg);
    background-size: cover;
    background-position: center;
}

/* todo el texto con el mismo formato */

p{
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

/* Inicio*/

.inicio{
    display: flex;
    justify-content: center; 
}

.inicio img{
    height: 500px;
    width: 600px;

}

/* Titulo de inicio*/

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 60px;
}

.titulo img{
    max-width: 600px;
    max-height: 600px;
}

.titulo h1{
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}*/


/* Barra de navegacion */

.navbar .nav-link.text-white:hover {
    color: #f0a500 !important;
    text-decoration: underline; 
    transition: color 0.3s ease; 
}

/* contenido de la info*/

.info{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 40px;
    gap: 30px;
}

.info video{
    max-width: 400px;
    max-height: 400px;
}

.subtitulos{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    border: 40px;
}

.info_img{
    max-width: 400px;
    max-height: 300px;
}

.txt{
    max-width: 800px;
}

/* Planetas */

.principal__grid{
    display: grid;
    grid-template-columns: repeat(3,50%);
    grid-template-rows: repeat(2,50%);    
}

.principal__grid__planeta{
    text-align: center;
    padding: 10px;
    border: 0px;
}

/*pie de pagina*/

footer{
    color: white;
    text-align: right; 
}


@media (max-width: 576px){
    .imagen_inicio{
        height: 400px;
        width: 400px;
        margin: 30px;
        border: 30px;
    }

    .titulo{
        display: flex;
        text-align: center;
    }

    h1{
        display: none;
    }

    .info{
        display: block;
        align-items: center;
    }

    .txt{
        padding: 30px;
        border: 30px;
    }

    .principal__grid{
        display: block;
    }
}