/*imagen de fondo*/

body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/fondo.jpeg);
    background-size: cover;
    background-position: center;
}

/* todo el texto con el mismo formato */

p{
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

/* Inicio*/

.inicio{
    display: flex;
    justify-content: center; 
}

.inicio img{
    height: 500px;
    width: 600px;

}

/* Titulo de inicio*/

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 60px;
}

.titulo img{
    max-width: 600px;
    max-height: 600px;
}

.titulo h1{
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}*/


/* Barra de navegacion */

.menu{
    list-style-type: none;
    padding: 10px 171.5px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: beige;
    background-color: black;
    padding: 20px;
    margin-left:200px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

/* contenido de la info*/

.info{
    display: flex;
    align-items: center;
}

.info video{
    max-width: 400px;
    max-height: 400px;
}

.subtitulos{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.info img{
    max-width: 600px;
    max-height: 600px;
}

/* Planetas */

.planetas1{
    display: flex;
    text-align: center;
    align-items: center;
}

.planetas2{
    display: flex;
    text-align: center;
    align-items: center;
}

.planeta{
    padding: 10px;
    border: 10px;
}

/*pie de pagina*/

footer{
    color: white;
    text-align: right; 
}

