// Reset cuiaddo que no es el mismo reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../imagenes/fondo.jpeg);
}

p{
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

